.gallery {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.gallery img {
    width: auto; /* Largura desejada */
    height: 300px; /* Altura desejada */
    object-fit: cover; /* Faz com que a imagem mantenha sua proporção e preencha o espaço definido */
    margin: 10px;
}

.modal {
    display: none;
    position: fixed;
    z-index: 1;
    padding-top: 50px;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgb(0,0,0);
    background-color: rgba(0,0,0,0.9);
}

.modal-content {
    margin: auto;
    display: block;
    max-width: 80%;
    max-height: 80%;
}

.close {
    position: absolute;
    top: 15px;
    right: 35px;
    color: #f1f1f1;
    font-size: 40px;
    font-weight: bold;
    transition: 0.3s;
    cursor: pointer;
}

.close:hover,
.close:focus {
    color: #bbb;
    text-decoration: none;
    cursor: pointer;
}

button {
    font-family: 'Courier New', Courier, monospace; /* Define o tipo de letra do botão */
    font-size: 28px; /* Define o tamanho da fonte */
    font-style: italic;
    background-color: #aee5f7; /* Cor de fundo do botão */
    color: black; /* Cor do texto do botão */
    padding: 10px 20px; /* Espaçamento interno do botão */
    border: double;
    border: 1px solid rgba(255, 255, 255, 0.7); /* Borda branca translúcida */
    cursor: pointer; /* Cursor do mouse ao passar sobre o botão */
}

button:hover {
    background-color: #0950e9; /* Cor de fundo do botão ao passar o mouse */
}
