.campo-section {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    margin-top: 20px;
}
.campo {
    width: 30%;
    margin-bottom: 20px;
    padding: 10px;
    border: 1px solid #f3a9a9;
    border-radius: 5px;
    background-color: #f3ecec;
}